.popup__title {
  width: 100%;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -70px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}