.profile {
  margin: 40px 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .profile {
    flex-direction: column;
    gap: 20px;
  }
}