.button_action_add {
  margin: 0 0 0 auto;
  width: 150px;
  height: 50px;
  background: url('../../../images/add__button.svg') center center no-repeat;
}

@media screen and (max-width: 750px) {
  .button_action_add {
    margin: 0;
    width: 100%;
    height: 60px;
  }
}