.modal__title {
  font-weight: 900;
  line-height: 1.2;
  font-size: 1.5rem;
  width: 358px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .modal__title {
    max-width: 238px;
  }
}